.mainContainer {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 35px;
  background-color: #e892bf;
}
.mainContainer p {
  font-family: Muli-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px;
  cursor: pointer;
}
.mainContainer div {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainContainer * :hover{
  cursor: pointer;
}
