.content {
  display: flex;
  min-height: 160px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}
.descriptionContainer div {
  display: flex;
  flex-direction: column;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  max-width: 300px;
  height: 100%;
}
.imageContainer img {
  cursor: pointer;
  object-fit: contain;
  width: 155px;
  height: 124px;
}
.mainContainer {
  padding: 0 0px 31px 15px;
  border-radius: 8px;
  border: solid 1px #e1e1e1;
  overflow: hidden;
  height: auto;
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selectButton {
  padding: 10px 12px 10px 13px;
  border: 1px solid #fff;
  border-radius: 17.5px;
  background-color: #299798;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.selectButton2 {
  padding: 10px 12px 10px 13px;
  border: none;
  border-radius: 17.5px;
  border: 1px solid #299798;
  background-color: #fff;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #299798;
}
.selectButton2:hover {
  background-color: gainsboro;
  cursor: pointer;
}
.selectButton:hover {
  background-color: #1e7e7e;
  cursor: pointer;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
}
.selectionContainer h5 {
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.header div {
  cursor: pointer;
}
.comboSelector {
  display: flex;
  height: 5rem;
  width: 140px;
  background-color: #eb5e70;
  justify-content: center;
  align-items: center;
}
.comboSelector p {
  font-family: Muli bold;
  font-weight: bold;
  font-size: 10px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
