.mainContainer {
  background-color: #edbde7;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.mainContainer * {
  cursor: pointer;
}
.mainContainer *:nth-child(n+2):nth-child(-n+6) :hover{
  transition: all 0.2s ease-in-out;
  color: #3d8bff;
}