.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
  width: max-content;
  min-width: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 8px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
}
.mainContainer :hover {
  color: #3d8bff;
  cursor: pointer;
}
.dropDownMenu {
  width: 8rem;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px #e1e1e1;
}
.dropDownMenuItem {
  background-color: #fff;
  color: #000;
  width: 8rem;
  border-width: 1px;
  border-bottom: #000;
}

input {
  width: 100%;
  height: 100%;
  border: none;
}
.searchIcon:hover {
  color: #3d8bff;
  cursor: pointer;
}
