.mainContainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;
  height: 85px;
  background-color: #9f7fb1;
}
.mainContainer *{
  cursor: pointer;
}
.mainContainer * :hover{
  transition: all 0.2s ease-in-out;
  color: #fee0d5;
}
.mainContainer p {
  font-family: Muli-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px;
}
.mainContainer div {
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
